@import '../../global/mixins';

.nav-left__wrapper {
    display: none;
    @include min-bp($sm-desktop) {
        position: fixed;
        display: block;
        width: calc(100vh - 137px);
        height: 60px;
        left: 80px;
        top: 137px;;
        right: auto;
        bottom: auto;
        transform-origin: left top;
        transform: rotate(-90deg) translateX(-100%);
        z-index: 2;
    }
}

.nav-left {
    @include min-bp($sm-desktop) {
        float: left;
        height:100%;
        margin-left: 5.5em;
        display: flex;
        align-items: flex-start;
    }
}

.nav-left__link {
    @include min-bp($sm-desktop) {
        font-family: $oswaldFont;
        margin-left: 9.5em;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        position: relative;
        transform: translateY(-5px);
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out;
        &:first-child {
            margin-left: 0;
        }

        &:before {
            content: '';
            height: 2px;
            width: 0;
            position: absolute;
            bottom: 100%;
            top: auto;
            left: 0;
            right: auto;
            background-color: $aqua;
            transition: width .4s ease-in-out;
        }

        &:after {
            content: '';
            height: 2px;
            width: 0;
            position: absolute;
            top: calc(100% + 2px);
            bottom: auto;
            left: auto;
            right: 0;
            background-color: $aqua;
            transition: width .4s ease-in-out;
        }

        &:hover {
            &:before {
                width: 100%;
            }

            &:after {
                width: 100%;
            }
        }
    }

    &.nav-left__link-enter-done {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

/* Mobile Styles */
.header--mobileActive {
    .nav-left__wrapper {
        visibility: hidden;
    }
}