@import '../../global/mixins';

.nav-left__wrapper {
    display: none;
    @include min-bp($sm-desktop) {
        position: fixed;
        display: block;
        width: 100vh;
        height: 60px;
        left: 80px;
        top: auto;
        right: auto;
        bottom: auto;
        transform-origin: left top;
        transform: rotate(-90deg) translateX(-100%);
    }
}

.nav-left {
    @include min-bp($sm-desktop) {
        float: left;
        height:100%;
        margin-left: 5.5em;
        display: flex;
        align-items: flex-start;
    }
}

.nav-left__link {
    @include min-bp($sm-desktop) {
        margin-left: 9.5em;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
        transition: all .4s ease-in-out;
        &:first-child {
            margin-left: 0;
        }
    }

    &.nav-left__link-enter-done {
        opacity: 1;
        visibility: visible;
        transform: translateY(5px);
    }
}

/* Mobile Styles */
.header--mobileActive {
    .nav-left__wrapper {
        visibility: hidden;
    }
}