@import '../../global/mixins';

.nav-right__wrapper {
    display: none;
    @include min-bp($sm-desktop) {
        position: absolute;
        width: 40px;
        right: 80px;
        top: 137px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: calc(100vh - 137px - 50px);
        align-items: center;
        visibility: visible;

        > * {
            flex: 0 0 auto;
        }
    }

    .nav-line {
        @include min-bp($sm-desktop) {
            margin: 15px 0;
            background-color: black;
            flex: 1 1 auto;
        }
    }
}

.nav-social {

}

.nav-social__link {
    @include min-bp($sm-desktop) {
        margin-bottom: 30px;
        display: block;
    }

    &:last-child {
        @include min-bp($sm-desktop) {
            margin-bottom: 0;
        }
    }

    svg {
        font-size:1.5rem;
    }
} 

/* Mobile Styles */
.header--mobileActive {
    .nav-right__wrapper {
        @include min-bp($sm-desktop) {
            visibility: hidden;
        }
    }
}