@import '../../global/mixins';

.nav-right__wrapper {
    display: none;
    @include min-bp($sm-desktop) {
        position: fixed;
        width: 40px;
        right: 80px;
        top: 137px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: calc(100vh - 137px - 50px);
        align-items: center;
        opacity: 1;
        visibility: visible;
        z-index: 2;
        transition: opacity .6s ease-in-out, visibility .6s ease-in-out;

        > * {
            flex: 0 0 auto;
        }

    }

    .nav-social {
        .nav-social__link {
            @include min-bp($sm-desktop) {
                margin-bottom: 30px;
                display: block;
                opacity: 0;
                visibility: hidden;
                position: relative;
                text-align: center;

                @for $i from 1 to 6 {
                    &:nth-of-type(#{$i}) {
                        $show-delay: .15s * ($i - 1);
                        transition: opacity .3s ease-in $show-delay, visibility .3s ease-in $show-delay, color .4s ease-in-out;
                    }
                }

                &:before {
                    content: '';
                    height: 110%;
                    width: 110%;
                    display: block;
                    transform: rotate(45deg);
                    border: 1px solid black;
                    position: absolute;
                    top: -5%;
                    left: -5%;
                    right: auto;
                    bottom: auto;
                    opacity: 0;
                    visibility: hidden;
                    transition: transform .4s ease-in, border-color .4s ease-in, opacity .4s ease-in, visibility .4s ease-in;
                }

                &:hover {
                    z-index: 2;
                    color: $aqua;
                    &:before {
                        visibility: visible;
                        opacity: 1;
                        border-color: $mango;
                        z-index: 1;
                        transform: rotate(45deg) scale(1.2);
                    }
                }
            }
        
            &:last-child {
                @include min-bp($sm-desktop) {
                    margin-bottom: 0;
                }
            }
        
            svg {
                font-size:1.5rem;
            }
        } 
    }
    

    .nav-line {
        @include min-bp($sm-desktop) {
            margin: 15px 0;
            background-color: #1d5857;
            flex: 1 1 auto;
            width: 2px;
            flex-grow: 0;
            opacity: 0;
            visibility: hidden;
            transition: flex-grow 1s linear (.15s * 5), visibility .5s linear (.15s * 5), opacity .5s linear (.15s * 5);
        }
    }

    .mail-link {
        @include min-bp($sm-desktop) {
            color: black;
            font-family: $oswaldFont;
            opacity: 0;
            visibility: hidden;
            font-size: 1.5rem;
            transform: scaleY(1.25);
            transition: opacity .3s ease-in (1 + (.15s * 5)), visibility .3s ease-in (1 + (.15s * 5)),
                        transform .3s ease-in (1 + (.15s * 5));
                    
            a {
                font-family: $oswaldFont;
                &:hover {
                    color: $mango;
                }
            }
        }
    }
}

.nav-right__wrapper-enter-done {
    @include min-bp($sm-desktop) {
        opacity: 1;
        visibility: visible;

        .nav-social {
            .nav-social__link {
                opacity: 1;
                visibility: visible;
            }
        }

        .nav-line {
            opacity: 1;
            visibility: visible;
            flex-grow: 1;
        }
        
        .mail-link {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
}

/* Mobile Styles */
.header--mobileActive {
    .nav-right__wrapper {
        @include min-bp($sm-desktop) {
            visibility: hidden;
        }
    }
}
