.introText {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: $antonFont;
    font-size: 1.75rem;
    color: white;
    letter-spacing: .05em;
    line-height: 1;

    .introText--large:first-of-type {
        transform: rotate(-5deg);
        display: inline-block;
    }

    .introText--large:nth-of-type(3) {
        margin-left: 7px;
        margin-right: 2px;
        display: inline-block;
        transform: rotate(-2deg);
    }

    .introText--last {
        display: inline-block;
        margin-left: 2px;
        transform: rotate(4deg);
    }

    .introText--large {
        font-size: 2.25rem;
        font-weight: 300;
    }

    .introText--bang {
        font-size: 2.25rem;
        font-weight: 600;
        margin-left: 3px;
        transform: rotate(10deg);
        display: inline-block;
    }
}

/* Enter */
.introText.introText-enter-active {
    /* learning note: animation duration has to be <= specified timeout in csstransition
    can increase length of duration but have to update cssT timeout as well.
    doing so SEEMS to increase delay between enter-active and enter-done styles */
    animation: trampoline .9s ease-in-out;
}

.introText.introText-enter-done {
    text-shadow: 3px 3px 1px hsla(177, 57%, 40%, 0), -2px -1px 0px hsla(187, 75%, 36%, 0);
    animation: showShadow .9s .5s ease-in forwards;
}

/* Trampoline Animation */
@keyframes trampoline {
    0% {
        transform: translateY(-20vh) scaleY(.65);
    }
    15% {
        transform: translateY(-9vh) scaleY(3.35);
    }
    30% {
        transform: translateY(-3vh) scaleY(1.75);
    }
    40% {
        transform: translateY(-1vh) scaleY(1.35);
    }
    50% {
        transform: translate(0, 0) scale(1.15, .95);
    }
    55% {
        transform:scale(1.25, .85);
    }
    70% {
        transform: translate(0, -25px) scale(1.2, .85);
    }
    80% {
        transform: translateY(-35px) scale(1, 1);
    }
    90% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0) scale(1,1);
    }
}

@keyframes showShadow {
    from {
        text-shadow: 0px 0px 0px hsla(177, 57%, 40%, 0),
        0px 0px 0px hsla(187, 75%, 36%, 0);
    }
    to {
        text-shadow: 3px 3px 4px hsla(177, 57%, 40%, 1),
        -2px -1px 0 hsla(187, 75%, 36%, .65);
    }
}