@import '../global/variables';
@import '../global/mixins';
@import '../global/typography';

.welcome {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 800ms ease-in, visibility 800ms ease-in, transform 800ms ease-in;
}


.welcome {
    margin-bottom: 10px;
    .strikethrough {
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: calc(60% - 1px);
            background-color: $teal;
            left: 0;
            right: auto;
            bottom: auto;
            height: 4px;
            width: 0;
            opacity: 1;
            visibility: hidden;
            transition: opacity 300ms ease-in 1100ms, visibility 300ms ease-in 1100ms, width 300ms linear 1100ms;
        }
    }

    .nala-rules-all {
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms ease-in 1400ms, visibility 300ms ease-in 1400ms;
    }
}

.start-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in 1400ms, visibility 300ms ease-in 1400ms;
    font-size: 1.25em;
    font-family: $oswaldFont;
    margin-top: 0;
}

.welcome-enter-done {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    .strikethrough {
        &:before {
            width: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
    .nala-rules-all {
        opacity: 1;
        visibility: visible;
    }
}

.start-text-enter-done {
    opacity: 1;
    visibility: visible;
}