@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$poppinFont: 'Poppins', sans-serif;
$antonFont: 'Anton', sans-serif;
$oswaldFont: 'Oswald', sans-serif;
$workFont: 'Work Sans', sans-serif;
$robotoFont: 'Roboto', sans-serif;

$teal: hsl(179, 50%, 23%);
$aqua: hsl(177, 57%, 40%);
$mango: hsl(41, 98%, 48%);
$durian: hsl(44, 88%, 62%);
$fadedellow: hsl(41, 90%, 69%);