@import url('https://fonts.googleapis.com/css?family=Poppins:600');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

$poppinFont: 'Poppins', sans-serif;
$antonFont: 'Anton', sans-serif;
$robotoFont: 'Roboto', sans-serif;