@import '../../global/variables';
@import '../../global/mixins';

.mobile-menu {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    height: 100vh;
    width: 100%;
    background-color: white;
    transition: opacity .4s ease-in, visibility .4s ease-in;
    pointer-events: none;
    padding: 140px 50px 50px 50px;
    @include min-bp($sm) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    @include min-bp($sm-desktop) {
        padding: 140px 80px 50px 80px;
    }
}

.mobile-menu-enter-active {
    visibility: visible;
    opacity: .1
}

.mobile-menu-enter-done {
   
   visibility: visible;
   opacity: 1;
   z-index: 3;
   pointer-events: all;
}

.mobile-menu-exit-active {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    transition: opacity .6s ease-out, visibility .6s ease-out;
}

.mobile-menu-exit-done {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.nav-mobile {
    flex: 0 0 auto;
}
.header--mobileHidden {
    .nav-mobile {
        display: none;
    }

    .mobile-menu .nav-social {
        display: none;
    }
}

.header--mobileActive {

    .nav-mobile__link {
        display: block;
        font-family: $oswaldFont;
        clear: both;
        opacity: 0;
        visibility: hidden;
        font-size: 6.25rem;
        margin-bottom: 1.5rem;
        position: relative;
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .5s ease-in-out, text-shadow .5s ease-in-out;
        transform: translate(-2px, 2px);
        text-shadow: 2px 3px 5px hsla(179, 50%, 23%, 0);
    
        @for $i from 1 to 5 {
            &:nth-of-type(#{$i}) {
                transition-delay: ($i) * .175s
            }
        }
        @include min-bp($sm) {
            display: inline-block;
            font-size: 4.75rem;
        }
        
        @include min-bp($sm-desktop) {
            font-size: 3.25rem;
            margin-bottom: 1.75rem;
        }
        
        &:nth-child(odd) {
            float: left;
            @include min-bp($sm) {
                float: left;
            }
        }
    
        &:nth-child(even) {
            @include min-bp($sm) {
                float: left;
            }
        }
    
        &.nav-mobile__link-enter-done {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
            text-shadow: 2px 3px 5px hsla(179, 50%, 23%, .4);
        }

        &:after {
            content: '';
            width: 0%;
            height: .75rem;
            position: absolute;
            bottom: -.5rem;
            left: -2.5%;
            right: auto;
            top: auto; 
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            background: linear-gradient(135deg, rgba(9, 56, 57, .8), rgba(68, 160, 142, .8)); 
            transition: opacity .5s ease-in-out, visibility .5s ease-in-out, width .5s ease-in-out, bottom .5s ease-in-out;
        }
        
        &:hover {
            color: lighten($aqua, 2.5%);
            @include min-bp($sm-desktop) {
                color: darken($aqua, 5.5%);
            }
            &:after {
                content: '';
                height: .75rem;
                position: absolute;
                bottom: .4875rem;
                left: -2.5%;
                right: auto;
                top: auto; 
                opacity: 1;
                visibility: visible;
                background: linear-gradient(135deg, rgba(9, 56, 57, .8), rgba(68, 160, 142, .8)); 
                width: 100%;
                @include min-bp($sm-desktop) {
                    width: 120%;
                }
            }
        }

        &.nav-mobile__link--active {
            color: lighten($mango, 2.5%);
            &:hover {
                color: lighten($mango, 2.5%);
            }
            &:after {
                content: '';
                width: 120%;
                height: .75rem;
                position: absolute;
                bottom: .4875rem;
                left: -2.5%;
                right: auto;
                top: auto;
                opacity: 1;
                visibility: visible;
                background: linear-gradient(135deg, rgba(9, 56, 57, .8), rgba(68, 160, 142, .8));
            }
        }

    }
    
    .mobile-menu .nav-social {
        display: flex;
        flex: 1 1 auto;
        margin-top: 2.5rem;
        justify-content: flex-start;
        align-items: flex-end;
        
        @include min-bp($sm) {
            justify-content: flex-end;
        }
    }
    
    .mobile-menu .nav-social__link {
        margin: 0 1.75rem 0 0;
        opacity: 0;
        visibility: hidden;
        transform: translateX(5px);
        transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .5s ease-in-out;
        &:last-child {
            margin-right: 0;
        }
        @for $i from 1 to 6 {
            &:nth-of-type(#{$i}) {
                transition-delay: .5s / ($i);
            }
        }
        @include min-bp($sm-desktop) {
            margin: 0 0 0 2.25rem;
        }
        svg {
            font-size: 1.8rem;
            transition: color .5s ease-in-out;
    
            @include min-bp($sm) {
                font-size: 2rem;
            }
    
            @include min-bp($tablet) {
                font-size: 2rem;
            }
        }
    
        &.nav-social__link-enter-done {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        
        &:hover {
            svg {
                color: $mango;
            }
        }
    }
}