/* Global */
@import "../node_modules/normalize.css/normalize.css";
@import './scss/global/variables';
@import './scss/global/mixins';
@import './scss/global/animations';

/* Page Specific */
@import './scss/pages/home'; // Home
@import './scss/pages/splashpage'; // Splash

/* Components */
@import './scss/components/IntroText/style'; // IntroText
@import './scss/components/IntroName/style'; // IntroName

html {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

*, :before, :after {
    box-sizing: border-box;
}

html, body, .pageBody {
    height: 100%;
    width: 100%;
    line-height: normal;
}

body {
    /* fluid font formula from csstricks */
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
}
