/* Global */
@import "../node_modules/normalize.css/normalize.css";
@import './scss/global/variables';
@import './scss/global/typography';
@import './scss/global/mixins';
@import './scss/global/animations';

/* Page Specific */
@import './scss/pages/home'; // Home
@import './scss/pages/splashpage'; // Splash
@import './scss/pages/work'; // Work

/* Components */
/* Global Components */
@import './scss/components/Header/style'; // Header
@import './scss/components/MobileMenu/style'; // MobileMenu
@import './scss/components/LeftNav/style'; // LeftNav
@import './scss/components/RightNav/style'; // RightNav

/* Splashpage */
@import './scss/components/IntroText/style'; // IntroText
@import './scss/components/IntroName/style'; // IntroName

/* Nala */
@import './scss/components/Nala/style';

html {
    -webkit-font-smoothing: antialiased;
}

*, :before, :after {
    box-sizing: border-box;
}

html, body, .page-body {
    height: 100%;
    width: 100%;
    line-height: normal;
}

body {
    /* fluid font formula from csstricks */
}

#app {
    // height: 100%;
    width: 100%;    
}

.page-layout {
    position: relative;
    // height: 100%;
    width: 100%;
}

.page-enter {
    opacity: 0.01;
}

.page-enter.page-enter-active {
    opacity: 1;
    transition: opacity 600ms ease-in;
}

.page-exit {
    opacity: 1;
}

.page-exit.page-exit-active {
    opacity: .01;
    transition: opacity 600ms ease-in;
}

.page-body {
    position: relative;
    width: 100%;
}

.page-content {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    padding: 110px 40px 0 40px;
    @include range-bp($sm, $sm-desktop) {
        padding: 110px 55px 0 55px;
    }
    @include range-bp($sm-desktop, $lg-desktop) {
        padding: 150px 150px 0 150px;
    }
}

.page-content {
    // overflow: auto;
    h1 {
        margin-top: 0;
        font-family: $oswaldFont;
        text-transform: uppecase;
        letter-spacing: .05em;
        @include min-bp($sm-desktop) {
            font-size: 2.75rem;
        }
    }
}
